/*General Settings*/
body{
    height: 100vh;
    background:linear-gradient(
        to top,
        #DADBD4 85%,
        #009688 15%
    );
    background-repeat: no-repeat;
}

.color_gray {
    color: gray;
}

.color_white {
    background-color: white;
}

.d_flex {
    display: flex;
}

.align_items {
    align-items: center;
}

.around {
    justify-content: space-around;
}

.avatar_user {
    width: 50px;
    border-radius: 50%;
}

.column {
    flex-direction: column;
}

.main_container {
   margin: auto auto;
}

/*Header Left*/
.header_user_info {
    padding: 7px;
    background-color: #EAEAEA;
}

.user_settings_icons {
    font-size: 22px;
}


.notify_popup {
    background-color: #8EDAFC;
}

.notify_elements {
    padding: 20px;
}

.notify_texts {
    padding-top: 10px;
}

.bell {
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    color: #8EDAFC;
    font-size: 30px;
}

.notify_desktop {
    color: gray;
    text-decoration: underline;
}

.search_bar {
    padding: 5px;
    background-color: #FAFAFA;
}

.search_contacts {
    border: none;
    width: 100%;
    height: 100%;
}

.search_bar_elements {
    padding: 5px;
    border-radius: 5px;
}

.lens_left {
    border-right: 1px solid lightgray;
}

.chat {
    padding: 15px;
}

.avatar_chat {
    width: 65px;
    border-radius: 50%;
}

.last_message {
    font-size: 15px;
}

.chat {
    background-color: white;
    position: relative;
}

.time {
    font-size: 13px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
}

.active {
    background-color: #E9EBEB;
}

.chat_header_elements {
    border-left: 1px solid lightgray;
}

.user_name {
    font-size: 13px;
}

.last_access {
    font-size: 13px;
    margin: 0;
    color: gray;
}

.user_name {
    font-size: 17px;
    margin: 0;
}