/*General Settings*/
body {
    background-color: #DADBD4;
}

.back_header {
    height: 200px;
    background-color: #009688;
}

.d_flex {
    display: flex;
}

.align_items {
    align-items: center;
}

.avatar_user {
    width: 50px;
    border-radius: 50%;
}

.header_user_info {
    padding: 7px;
    background-color: #EAEAEA;
}

.user_settings_icons {
    font-size: 22px;
}

.color_gray {
    color: gray;
}

.color_white {
    background-color: white;
}

.notify_popup {
    background-color: #8EDAFC;
}

.notify_elements {
    padding: 20px;
}

.notify_texts {
    padding-top: 10px;
}

.bell {
    background-color: white;
    padding: 15px;
    border-radius: 50%;
    color: #8EDAFC;
    font-size: 30px;
}

.notify_desktop {
    color: gray;
    text-decoration: underline;
}

.search_bar {
    padding: 5px;
    background-color: #EAEAEA;
}

.search_contacts {
    border: none;
    width: 100%;
    height: 100%;
}

.search_bar_elements {
    padding: 5px;
    border-radius: 5px;
}

.lens_left {
    border-right: 1px solid lightgray;
}